<sidebar></sidebar>

<div class="dashboard-container col-md-10">

<h3>Manage Employees</h3>

<table id="customers">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Salary</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let employee of employeeData">
    <td>{{employee.name}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.mobile}}</td>
    <td>₹ {{employee.salary}}</td>
    <td>
      <a routerLink="/edit/{{employee.id}}" href="javascript:void(0)" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
      <a (click)="deleteEmployee(employee.id)" href="javascript:void(0)" ><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </td>
  </tr>
</table>
</div>
